<h1><%= @user.name %>さんとのチャット</h1>
<div class='container px-5 px-sm-0' >
  <div class='row'>
    <div class='col-md-3'>
      <%= form_with model:@message ,url:messages_path, method: :post, local:false, class:"w-100",html: {id: 'message_form'} do |f| %>
        <%= f.text_field :chat, id:"message_field" %>
        <%= f.hidden_field :receive_user_id,value: params[:id]%>
        <%= f.submit %>
      <% end %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <div id="messages"><%= render 'message', messages: @messages %></div>
    </div>
  </div>
</div>